{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" h href="{% static 'css/karatetv.css' %}">
    <style>
       
    </style>


</head>
  
<body>
   <br/>
 <div class="site">
  <header>
  
   <div class="page-header">
    <h1>Karate club TREBIŠOV</h1>
    <img src="{% static 'images/karatetv_logo.jpg'  %}" alt="logo" width="50", hight="500" >
    <img src="{% static 'images/smartphone.png'  %}" alt="logo"   width="30", hight="30">
    <p1>0903 605 419, 0908 848 741</p1>
    <img src="{% static 'images/email.png'  %}" alt="logo"   width="30", hight="30">
    <p1>karateclubtrebisov@gmail.com, karateclubtrebisov@azet.sk</p1>
  
    <a href="https://www.facebook.com/profile.php?id=100063114014832"><img src="{% static 'images/facebook_logo.png'  %}" alt="logo"   width="30", hight="30"></a>
   
  </div>
  </header>
   
  <div class="site">
  <main>
   <div class="container">
   {% include 'karatetv/navbar.html' %}
   <div class ="row">
   
    <div class ="col-sm-2">
      <h3>Užitočné odkazy</h3>
      
      <div class="odkazy_bg"><a href="https://www.karate.sk/"><p>Slovenský zväz karate</p></a>
    
      </div>
      <div class="odkazy_bg"><a href="https://www.sutazekarate.sk/"><p>Súťaže v  karate</p></a>
    
      </div>
   
    </div> 
   
   
    <div class ="col-sm-8">
  
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
       
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
     
      {% endfor %}
    
    
    {% block content %}

    {% endblock %}
    
   </div> 
   
   <div class ="col-sm-2">
    <h3>Kata</h3>
    <div class="odkazy_bg"><a href="https://www.youtube.com/watch?v=19cqhTzDgxo&t=11s/"><p>Taikjoku džodan 1</p></a>
    
    </div>
    <div class="odkazy_bg"><a href="https://www.youtube.com/watch?v=FSeGrXQs3sI"><p>Taikjoku čudan 1</p></a>
    
  
    </div>
 

   </div>
  
   
  
  </div>


   </div>
   
 
  
  
  </main>

</div>
   
</div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>



