{% extends 'karatetv/base.html' %}


{% block content %}
</br>
</br>
</br>
<p><b>Prihláška Trebišov</b></p>
<p1>Prihlášku je potrebné si stiahnuť, vypísať, podpísať a priniesť na tréning trénerovi. Tlačivo na prihlášku v papierovej forme je možné si vypýtať aj od trenéra.</p1></br>
<a href="~/Projects/karatetv/karateweb/static/prihlaska_tv.png">Stiahnuť prihlášku</a>
</br>
</br>
<p><b>Prihláška Sečovce</b></p>
<p1>Prihlášku je potrebné si stiahnuť, vypísať, podpísať a priniesť na tréning trénerovi. Tlačivo na prihlášku v papierovej forme je možné si vypýtať aj od trenéra.</p1></br>
<a href="~/Projects/karatetv/karateweb/static/prihlaska_secovce.png">Stiahnuť prihlášku</a>
</br>
</br>


<p><b>Súťažný poriadok.</b></p>
<a href="static/sutazny_poriadok.pdf">Stiahnuť</a>
</br>
</br>
<p><b>Karate slovník celý.</b></p>
<a href="static/karate_slovnik_cely.docx">Stiahnuť</a>
</br>
</br>
<p><b>Karate slovník skrátený.</b><p>
<a href="static/karate_slovnik_skrateny.docx">Stiahnuť</a>

{% endblock %}
