{% extends 'karatetv/base.html' %}


{% block content %}
</br>
</br>
</br>
<p1>Klub karate v Trebiśove bol založený v osemdesiatich rokoch minulého storočia MUDr.Vladímírom Hatalovským. Od toho času ním prešlo veľa karatistov a karatistiek. Zúčastnili sme sa veľkého množstva rôznych súťaží a získali mnoho cenných ocenení. Samozrejme, že trening karate nie je len o tom, ale umožňuje aj nadväzovať nové kamarátske vzťahy ako aj vytvárať dobrý kolektív. V súčasnosti vedie klub Radomír Hatalovský, brat MUDr Vladimíra Hatalovského. Mád dve pobočoky. Jednu v Trebišove,kd eje hlavný trénerom Radomír Hatalovský a druhú v Sečovciach,kde je inštruktorom Mgr.Ondrej Ondovčík. Klub je miestom, kde sa spája bojové umenie so športom ako aj relaxom. Vyučuje sa škola Goju ryu.
ak sa chceš naučiť brániť, súťažiť alebo sa chceš proste len hýbať, zavítaj medzi nás a staň sa súčasťou veľkej rodiny nadšencov karate.

</p1>

{% endblock %}
