{% extends 'karatetv/base.html' %}
{% load static %}


{% block content %}
</br>
</br>
</br>
<p1>Klub karate v Trebišove založil v osemdesiatych rokoch minulého storočia MUDr. Vladimír
    Hatalovský. Odvtedy ním prešlo množstvo karatistov a karatistiek. Zúčastnili sme sa mnohých
    súťaží a získali veľa cenných ocenení. Tréning karate však nie je len o súťažení, ale poskytuje tiež
    príležitosť na nadväzovanie nových priateľstiev a vytváranie dobrého kolektívu.
    V súčasnosti vedie klub Radomír Hatalovský, brat MUDr. Vladimíra Hatalovského. Naša
    organizácia má dve pobočky jednu v Trebišove, kde je hlavným trénerom Radomír Hatalovský, a
    druhú v Sečovciach, kde je inštruktorom Mgr. Ondrej Ondovčík.
    Klub je miestom, kde sa spája bojové umenie so športom a relaxom. Vyučuje sa škola Goju-ryu. Ak
    sa chceš naučiť sebaobrane, súťažiť alebo sa chceš jednoducho len hýbať, zavítaj medzi nás a staň
    sa súčasťou veľkej rodiny nadšencov karate.

</p1>
</br></br>
<center><img src="{% static 'images/karatehis.avif'  %}" alt="logo"  ></center>

{% endblock %}
