{% extends 'karatetv/base.html' %}
{% load static %}

{% block content %}
</br>
<header>
    <h1>Sečovce</h1>
</br>
<h2>Aktuality</h2>
</br>
</header>
{% if user.is_authenticated %}
    <a href="{% url 'post_new_se' %}">
        <img src="{% static 'images/add.png' %}" alt="add"   width="30", hight="30">
    </a>
{% endif %}
</br>
</br>
{% for post in posts %}
<article class="post">
    <time class="date">
        {{ post.published_date }}
    </time>
    <h2><a href="{% url 'post_detail_se' pk=post.pk %}"><span style="font-size:30px;font-weight:12px;color:black;text-decoration:none;"><strong></strong>{{ post.title }}</strong></span></a></span></h2>
    <p>{{ post.text|truncatewords:20|linebreaksbr }}</p>
</article>
{% if post.image %}
<img src="{{ post.image.url }}" width=300>
{% endif %}

{% endfor %}
{% endblock %}