{% extends 'karatetv/base.html' %}


{% block content %}
</br>
</br>
</br>
<h1>Tréneri a inštruktori</h1>
</br>

<p>Radomír Hatalovský - hlavný tréner, Goju ryu 5. DAN, Shotokan 4. DAN, Okinawa karate 7. KYU, medzinárodný rozhodca 1. triedy karate</p>
<p>Mgr. Ondrej Ondovčík - chieff instructor karate a sebaobrany , Goju ryu 4. DAN, medzinárodný rozhodca prvej triedy karate</p>
<p>Jozef Nagy - inštruktor, Goju ryu 3. DAN</p>
<p>Ing. Jaroslav Petrovský - pomocný inštruktor, Goju ryu 3. KYU</p>
<p>Bc. Michal Bačo - pomocný inštruktor, Goju ryu 3. DAN</p>
<p>Sára Hegedűšová - Goju ryu 2. KYU, rozhodkyňa 1. stupňa</p>
<p>Zuzana Farkašová - Goju ryu 1. KYU rozhodkyňa 1. stupňa</p>
<p>Jozef Domorád - asistent a manažér, Goju ryu 8.KYU</p>
<p>MUDr. Vladimír Hatalovský - zakladajúci tréner, Goju ryu 2. DAN</p>

</br>
</br>

</br>
 



{% endblock %}
