{% extends 'karatetv/base.html' %}


{% block content %}
</br>
</br>
</br>
<h1>Tréneri a inštruktori</h1>
</br>

<p>Radomír Hatalovský - hlavný tréner, Goju ryu 5.dan, Shotokan 4.dan</p>
<p>Mgr. Ondrej Ondovčík - inštruktor, Goju ryu 4.dan</p>
<p>Jozef Nagy - inštruktor, Goju ryu 3.dan</p>
<p>Ing. Jaroslav Petrovský - pomocný inštruktor, Goju ryu 3.kyu</p>
<p>Michal Bačo - pomocný inštruktor, Goju ryu 2.dan</p>

<p>MUDr. Vladimír Hatalovský - zakladajúci tréner, Goju ryu 3.dan</p>

</br>
</br>

</br>
 



{% endblock %}
