{% extends 'karatetv/base.html' %}


{% block content %}
</br>
</br>
</br>
<h1>Tréneri a inštruktori</h1>
</br>

<p>Radomír Hatalovský - hlavný tréner, Goju ryu 5.dan, Shotokan 4.dan, 7 kyu Okinawa karate, medzinárodný rozhodca 1. triedy karate</p>
<p>Mgr. Ondrej Ondovčík - inštruktor, Goju ryu 4.dan, medzinárodný rozhodca prvej triedy karate</p>
<p>Jozef Nagy - inštruktor, Goju ryu 3.dan</p>
<p>Ing. Jaroslav Petrovský - pomocný inštruktor, Goju ryu 3.kyu</p>
<p>Jozef Domorád - pomocný kondičný tréner, Goju ryu 8.kyu</p>
<p>Bc. Michal Bačo - pomocný inštruktor, Goju ryu 3.dan</p>
<p>Sára Hegedűšová - rozhodkyňa 1. stupňa</p>
<p>Zuzana Farkašová - rozhodkyňa 1. stupňa</p>
<p>MUDr. Vladimír Hatalovský - zakladajúci tréner, Goju ryu 2.dan</p>

</br>
</br>

</br>
 



{% endblock %}
