h1, h2 {
    text-align: center;
        
}

body {
    background-color: lightblue;
}


.page-header {
    
  text-align: center;
  border-bottom: 1px solid #000000;
        
  }

.container h1 {
    text-align: center;

 }
 .footer{
   
    background-color:#333;
    color: #fff;
    padding:80px;
    margin:auto 0;
 }
 .site {

  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-column: minimax(0, 1fr);
 }

 .trebisov h1{
  color:black;
 
 }

 .secovce h1{
  color:black;
 
 }

 .trebisov{
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
 }

 .secovce{
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin-left: 50px;
 }
 .clubs{
  display: flex;
  justify-content: center;
  margin-top: 120px;

 }