h1, h2 {
    text-align: center;
        
}


body {
    background-color: lightblue;
}


.page-header {
    
  text-align: center;
  border-bottom: 1px solid #000000;
        
  }

.container h1,h2 {
    text-align: center;

 }
 a:visited {
  text-decoration: none;
}

 .site {

 min-height: 100dvh;  
 display: grid;
 grid-template-rows: auto 1fr auto; 
 grid-template-columns: minmax(0, 1fr);

 }

 .clubs{
    display: flex;
    justify-content: center;
    margin-top: 120px;
  
  
  
   }

 .trebisov{
  h1:black;
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
 }

 .secovce{
  h1:black;
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin-left: 50px;
 }

trebisov h1{
    margin: 0;
    padding: 0; 
}
 .footer{
   
    background-color:#333;
    color: #fff;
    min-height: calc(100vh-50px);
    position: fixed;
    bottom: 0;
    width: 100%;
  
 }


.footer-data{
 display: flex;
 justify-content: center;
 margin-top: 10px;

}


.tv{
    p:white;
    width: 200px;
    height: 100px;
 
    display: inline-block;
   }
  
   .se{
    p:white;
    width: 200px;
    height: 100px;
   
    display: inline-block;
    margin-left: 50px;
   }

.odkazy_bg {
    width: 100%;
    background-color: #25bce5;
  }
.videa_bg {
    width: 100%;
    background-color: #25bce5;
  }